.container__start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    color: #CF982A;
    font-size:larger;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 7vh;
}

.container__start {
    background-color: #15454A;
    padding: 10px;
}