// COLORS

$black: #333333;
$white: #f5f5f5;

// MIXINS

@mixin flexboxRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexboxColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin gridRow {
  display: grid;
  place-items: center;
}

@mixin viewPort($height : 100vh, $width: 100vw ) {
    min-height: $height;
    width: $width;
}

// FONTS 


@mixin textStyle($fontFamily, $fontFamilyDefault: "sans-serif", $fontSize, $fontWeight, $lineHeight, $fontColor) {
    font-family: $fontFamily, $fontFamilyDefault;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $fontColor;
}

$fontWeight-thin: 100; 
$fontWeight-extraLight: 200; 
$fontWeight-light: 300;
$fontWeight-regular: 400; 
$fontWeight-medium: 500;
$fontWeight-semiBold: 600;  
$fontWeight-bold: 700; 
$fontWeight-extraBod: 800; 
$fontWeight-black: 900; 

