.buttonStart {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(3, 0, 10);
  position: relative;
  display: grid;
  place-items: center;
  padding: 0 3em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.buttonStart::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, opacity 0.2s linear;
}
.buttonStart:hover::before,
.buttonStart:focus::before {
  transform: scale(1.5);
  opacity: 0.2;
}

.buttonStart svg {
  width: 2.5rem;
  aspect-ratio: 1;
  fill: white;
}
