.game__main {
  width: 100vw;
  height: 100vh;
}

.game__bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.game__bg2 {
  position: absolute;
  object-fit: cover;
  top: 100%;
  width: 100%;
  height: 100%;
}

.container__prompt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.container__button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.container__button button {
  cursor: pointer;
  padding: 1em;
  font-size: 1.5rem;
  border-radius: 10px;
  border-bottom: 9px solid grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container__button button:active {
  border-bottom: 3px solid grey;
}

.container__input {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#loader {
  zoom: 0.5;
  position: fixed;
  top: 10vh;
}
