@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.clipper-left {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
  background-color: #fafafb;
  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.loader-text {
  font-family: 'Mountains of Christmas';
  width: max-content;
  font-size: 2rem;
  height: 100%;
  padding: 4em;
  display: flex;
  align-items: center;
  opacity: 0;
  text-align: center;
}

.clipper-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  background-color: #fafafb;
  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}

.site-content {
  background-image: url("../../assets/christmas-landscape13.png");
  object-fit: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  backdrop-filter: blur(5px);
  padding: 4em;
  width: 100%;
}

.menu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle a {
  text-decoration: none;
  font-size: clamp(1rem, 3vw, 5rem);
  color: white;
  cursor: pointer;
}

.site-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pre-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  background-color: transparent;
}

.loader-wrapper {
  position: relative;
  width: 3px;
  height: 140px;
  background-color: transparent;
  border-radius: 2px;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #232323;
}

.play {
  position: absolute;
  border-radius: 100%;
  width: 200px;
  aspect-ratio: 1;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #232323;
  font-size: 2rem;
  z-index: 2;
}

.game__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5vw;
}

.game__start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: #fafafb;
}

@media (max-width: 900px) {
  .sidebar-nav {
    display: none;
  }

  .site-content {
    width: 100vw;
    left: 0;
  }

  .clipper-left {
    left: 0;
    width: 50vw;
  }
}

@media (max-width: 500px) {
  .clipper-left .loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 1.5rem;
  }

  .clipper-right .loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);

    font-size: 1.5rem;
  }
}
